/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    background-color: #fff;
    font-family: "Mulish", sans-serif;
    color: #21382a;
    margin: 0;
}

.btn-brown{
    background-color: #AA8453
}

/* Navigation Bar Styles */
.navbar {
    background-image: linear-gradient(#21382a, #1e3127);
    border-bottom: 1px solid #eae8e0;
    padding: 10px 20px; /* Consistent padding around elements */
}

.navbar a {
    color: #eae8e0;
    transition: color 0.3s; /* Smooth transition for hover effects */
}

.navbar a:hover,
.navbar-nav .nav-link.active {
    color: #FFCA2C;
}

.navbar li{
    padding:0 10px;
}

.navbar .btn {
    color: #1e3127;
}

.navbar .btn:hover {

    color: #1e3127;
}


.navbar-brand p {
    font-weight: 700;
    padding-top:10px;
}

.navbar-brand img {
    width: 17%;
    float: left;
    padding:5px 10px 5px 0 
}

/* Hero Section Styles */
.hero-section {
    background: url('images/2.jpg') center / cover no-repeat; /* Shorthand for background properties */
    width: 100%;
    display: flex;
    padding-top:80px;
}

.hero-section h1{
    margin-top:60px;
}

.landing_booking input, .landing_booking label, .landing_booking button, .room button{
    font-size: 12px;
}

.landing_booking{
    background: rgba(30, 49, 39, .6);
    padding:10px 0 15px 0;
    border-top: 1px solid #eae8e0;
    border-left: 1px solid #eae8e0;
    border-right: 1px solid #eae8e0;
    margin-top:200px
}

.landing_booking input, .landing_booking button, .navbar .btn, .room button{
    border-radius: 0;
    font-weight: bold
}

.landing_booking label{
    float:left
}

.img-fluid{
    height:200px !important;
    width:100%;
}

 .fa-bed, .fa-bath, .fa-wifi,.room-offer span{
    color: #AA8453
}

.room-offer span{
}

.bi-star-fill{
    color:#F5C020
}

.introduction div{
}

.introduction .img_bg{
    height:570px;
    position: relative;
}

.introduction .img_fr{
    height:200px;
    width:250px;
    border:15px solid #fff;
    position:absolute;
    top:72%;
    right:2%
}

.overlay_promo{
    position:absolute;
    top:25%;
    right:32%;
    background: rgba(30, 49, 39, .9);
}
.green{
    background-color: #1F3328
}
.slogan {
    padding: 30px 0px;
}
.banner-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0% 50%;
}

.dining-padding-bottom {
    margin-bottom: 20px;
}

.dining-padding-top {
    margin-top: 20px;
}

.dark-container {
    background-color: #eae8e0
}

.parallax {
    background-image: url("images/sauna.webp");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spa-parallax {
    background-image: url("images/spa-gt.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dining-parallax1 {
    background-image: url("images/parralax2.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dining-parallax2 {
    background-image: url("images/parralax1.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.padded-text {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.padded-margins {
    padding-right: 30px;
    padding-left: 30px;
}

.padded-bottom {
    padding-bottom: 50px;
}

.padded-top {
    padding-top: 50px;
}
